body{
    background-image: url(../img/download.jpg);
    background-repeat: no-repeat;
}

ul{
    list-style-type: none;
}

.elementi-carta{
    font-size: 1.5rem;
    color: white;
}

.abilita-carta{
    overflow: auto;
    height: 230px;
}

/* width */
::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: lightslategrey; 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(69, 71, 71);
}

#main-logo{
    width: 40%;
}